<div class="header">
    <div class="menu-row">
        <div class="title">El mejor rock de los 70</div>
        <div class="search-container">
            <div class="search">
                <input type="text" [(ngModel)]="searchInput" placeholder="Buscar" (input)="searchBand()"/>
            </div>
            <div class="search-icon">
                <mat-icon class="icon" aria-label="busqueda" (click)="showSearch ? showSearch=false : showSearch=true">search</mat-icon>
            </div>

            <button class="addBand" (click)="showForm ? showForm=false : showForm=true">Añadir banda</button>
            <div class="add-icon" (click)="showForm ? showForm=false : showForm=true">
                <mat-icon class="icon" aria-label="busqueda">add</mat-icon>
            </div>
        </div> 
        <div class="search-mobile" *ngIf="showSearch">
            <input type="text" [(ngModel)]="searchInput" placeholder="Buscar" (input)="searchBand()"/>
        </div>
    </div>
</div>

<div class="col-center container">
    
   

    <!-- Form to add new band -->
    <div class="list" *ngIf="showForm">
        <div class="form-title">Añade una banda a la lista
            <div class="cerrar" (click)="showForm=false">+</div>
        </div>
       
        <form [formGroup]="bandForm" class="bandForm">
        <!-- <form class="bandForm"> -->
            <div class="form-row">
                <label for="name">Nombre de la banda</label>
                <div [ngClass]="{'is-invalid': !bandForm.get('name').valid, 'form-input':bandForm.get('name').valid}">
                    <input type="text" formControlName="name" placeholder="Nombre">
                </div>
                
            </div>
            <div class="form-row">
                <label for="yearCreated">Año de creación</label>
                <div [ngClass]="{'is-invalid': !bandForm.get('yearCreated').valid, 'form-input':bandForm.get('yearCreated').valid}">
                    <input type="number" formControlName="yearCreated" placeholder="Año">
                </div>
               
            </div>
            <div class="form-row">
                <label for="picture">Foto de la banda</label>
                <div [ngClass]="{'is-invalid': !bandForm.get('picture').valid, 'form-input':bandForm.get('picture').valid}">
                    <input type="text" formControlName="picture" placeholder="URL de la foto">
                </div>
                
            </div>
            <div class="form-row">
                <label for="bestHitName">Su mejor canción</label>
                <div [ngClass]="{'is-invalid': !bandForm.get('bestHitName').valid, 'form-input':bandForm.get('bestHitName').valid}">
                    <input type="text" formControlName="bestHitName" placeholder="Nombre de la canción">
                </div>
                
            </div>
            <div class="form-row">
                <label for="bestHitUrl">Vídeo de la canción</label>
                <div class="form-input">
                    <input type="text" formControlName="bestHitUrl" placeholder="URL del vídeo">
                </div>
                
            </div>
            <button class="add-button" (click)="addBand()" [disabled]="bandForm.invalid">
                Añadir
            </button>
        </form>
    </div>
   

    <div class="col-center list" *ngIf="filteredBands.length>0; else noBands">
        <div class="col-center  list-item" *ngFor="let band of filteredBands; let i=index">
            <div class="horizontal-line" *ngIf="i>0"></div>
            <div class="row-spaced band-item">
                <div class="band-details" (click)="seeDetails(band.id)" >
                    <div class="bandPic">
                        <img [src]="band.picture" [alt]="band.name" [aria-label]="foto">
                    </div>
                    <div class="band-name">
                        <h1>{{band.name}}</h1>
                    </div>
                </div>
                <div class="col-center botones">
                    <button (click)="deleting=true">Eliminar</button>
                </div>
                <div class="modal"  (click)="deleting=false" *ngIf="deleting">
                    <div class="modal-content">
                        <p>Cuidado</p>
                        <p>¡si eliminas esta banda tendrás que volver a introducirla a mano!</p>
                        
                        <div class="button-row">
                            <button class="cancel-button" (click)="deleting=false">Cancelar</button>
                            <button class="delete-button" (click)="deleteBand(band.id)">Eliminar</button>
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <ng-template #noBands> No hay bandas que mostrar</ng-template>
</div>