body{
    margin: 0;
    background-color: rgb(244, 250, 249);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5px;
}

.col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-spaced{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.row-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row-center{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
